<div
  class="weatherWidget"
  ng-controller="WeatherCtrl"
  ng-cloak
>
  <div class="weatherWidget-header">
    <div class="weatherWidget-cityName">
      {{weatherData.name}}
      <span class="weatherWidget-value">{{weatherData.main.temp | temperature:tempType}} &deg;{{tempType}}</span>
    </div>
    <div class="weatherWidget-humidity">
      Humidity
      <span class="weatherWidget-value">{{weatherData.main.humidity}} %</span>
    </div>
    <div class="weatherWidget-input">
      <input type="text" ng-model="city" ng-enter="updateCity()">
    </div>
    <div class="weatherWidget-additionalToggle" ng-click="showAdditional = !showAdditional">|||</div>
    <div class="weatherWidget-tempSwitch" ng-click="toggleTempType()">
      <span ng-class="{'weatherWidget-emphasize': tempType == 'C'}">&deg;C</span>
      |
      <span ng-class="{'weatherWidget-emphasize': tempType == 'F'}">&deg;F</span>
    </div>
  </div>
  <div class="weatherWidget-additionalInfo" ng-show="showAdditional">
    <ul class="weatherWidget-content">
      <li ng-show="weatherData.clouds">
        Cloudiness
        <span class="weatherWidget-value">{{weatherData.clouds.all}} %</span>
      </li>
      <li ng-show="weatherData.rain">
        Rain prediction (3 h.)
        <span class="weatherWidget-value">{{weatherData.rain.3h}} mm</span>
      </li>
      <li ng-show="weatherData.snow">
        Snow prediction (3 h.)
        <span class="weatherWidget-value">{{weatherData.snow.3h}} mm</span>
      </li>
    </ul>
    <div class="weatherWidget-icon">
      <div class="weatherWidget-wind">
        <div class="weatherWidget-wind-title">Wind direction & speed</div>
        <div class="weatherWidget-wind-direction" style="-webkit-transform: rotateZ({{weatherData.wind.deg}}deg);"></div>
        <div class="weatherWidget-wind-speed">{{weatherData.wind.speed}} m/s</div>
      </div>
    </div>
    <div class="weatherWidget-updateTime">Updated {{weatherData.dt * 1000 + 3600 | date:'HH:mm:ss'}}</div>
  </div>
</div>